// Import Vuetify styling
@require '~vuetify/src/stylus/main.styl'

body
  font: 14pt Helvetica, Arial, sans-serif

h1, h2
  font-family: 'Raleway'
  letter-spacing: 0.3em
  text-transform: uppercase !important
  line-height: 1.25
  font-weight: 700

h3, h4, h5
  font-family: 'Raleway'
  letter-spacing: 0.05em
  line-height: 1.25
  font-weight: 700

h1
  font-size: 48pt
  text-shadow: 2pt 2pt lightgray

h2
  font-size: 30pt
  text-shadow: 2pt 2pt lightgray

h3
  font-size: 24pt

h4
  font-size: 20pt

h5
  font-size: 18pt

